doctype html
html
  meta(charset="utf-8")
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    script(src="js/cytoscape.min.js")

  body  
    script(src="js/tether.min.js")
    script(src="js/jquery.min.js")
    script(src="js/bootstrap.min.js")
    block content
