html {
    cursor: default;
}


[class*="col-md-"] {
    padding: 0.5em;
    box-sizing: border-box;
}

.row {
    margin: 0.5%;
    box-sizing: border-box;
}

#main-container {
    height: 75vh;
}

#the-network {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

#the-controller {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    overflow-y: scroll;
}